@use '../theme/theme' as theme;

.header {
  position: relative;
  z-index: 2;
  padding: 20px 0;
  color: var(--colors-white);

  @include theme.text-style-helper(texts);

  @include theme.md {
    padding: 23px 0;
  }

  @include theme.xxl {
    padding: 43px 0;
  }

  // .header__container
  &__container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo
  &__logo {
    flex-shrink: 0;
    max-height: 50px;
    overflow: hidden;
  }

  // .header__button
  &__button {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    width: auto;
    margin-left: auto;
    overflow: hidden;

    // .header__button .button
    .button {
      @media screen and (max-width: theme.$break-md) {
        padding: 12px;
      }
    }

    // .header__button-email
    &-email {
      flex-grow: 0;
      flex-shrink: 1;
      width: min-content;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  // .header__logout
  &__logout {
    position: absolute;
    top: calc(100% + 21px);
    right: var(--fields);
    padding: 40px;
    background-color: var(--colors-dark-middle);
    border-radius: var(--radius-12);
    box-shadow: 0 15px 46px -10px rgb(0 0 0 / 60%);

    &::after {
      position: absolute;
      top: -18px;
      right: 19px;
      content: '';
      border: 9px solid transparent;
      border-bottom: 9px solid var(--colors-dark-middle);

      @include theme.md {
        right: 27px;
      }
    }
  }
}
